<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Jwt:Key" value="PLEASE_CHANGE_ME__STRONG_SECRET" />
    <add key="Jwt:Issuer" value="AalaNiroo" />
    <add key="Jwt:Audience" value="AalaNirooUsers" />
    <!-- Comma-separated origins -->
    <add key="Cors:Origins" value="https://test.aalaniroo.com" />
    <add key="Seed:SuperAdminEmail" value="root@aalaniroo.com" />
    <add key="Seed:SuperAdminName" value="Super Admin" />
    <add key="Seed:SuperAdminPassword" value="ChangeMe!234" />
  </appSettings>
  <connectionStrings>
    <!-- SQL Server example -->
    <add name="DefaultConnection" connectionString="Server=YOUR_SQL_SERVER;Database=AalaNiroo;User Id=USER;Password=PASS;MultipleActiveResultSets=true;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <!-- MySQL example (requires MySql.Data and MySql.Data.Entity packages) -->
    <!-- <add name="DefaultConnection" connectionString="Server=HOST;Database=AalaNiroo;Uid=USER;Pwd=PASS;SslMode=None;" providerName="MySql.Data.MySqlClient" /> -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <httpModules>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
</configuration>
